#ClockContain{  
    position: relative;  /*hours seconds etc wont be relative*/
    border: 2px dotted palevioletred;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
}

#hour, #minute, #seconds{
    position: absolute;
    background: brown;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.5%;
    height: 15%;
    top: 35%;
    left: 49%;
    opacity: 0.8;  
}
#minute{
    width: 1.5%;
    height: 21.5%;
    top: 28%;
    left: 49.0%;
    opacity: 0.8;  
}
#seconds{
    width: 1%;
    height: 30%;
    top: 19.5%;
    left: 49.25%;
    opacity: 0.8; 
    
}